#### Multiple inputs

In [8]:
a,b,c = map(int,input("Enter num : ").split())
print(a,b,c)

Enter num :  77 6 7

77 6 7

In [12]:
a,b,c = input("Enter :").split()
print(a,b,c,)

Enter : hi gan esh

hi gan esh

In [14]:
a = input("Enter Statement: ")
print(a)

Enter Statement:  hi ganesh menni

hi ganesh menni

# <bold>Data Types</bold>  
#### Numeric    ---> int,float,complex
#### Sequence   --->String,list,tuple
#### Set        --->
#### Dictionary ---> 
#### Boolean    --->

In [35]:
## Complex data type
a=2+3j
b=2j
c=complex(input())
print(a,b,c,end='\n')
print(type(a))
print(a.real)
print(a.imag)

 778j

(2+3j) 2j 778j
<class 'complex'>
2.0
3.0

In [108]:
n = int(input("Enter Natural :"))
s=0
for i in range(1,n+1):
    s += i
print(s)

Enter Natural : 5

15

In [1]:
a = 85940/60
print(a)

1432.3333333333333